@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

.sortIcon {
    display: inline;
}

#employeesInfoCon {
    display: flex;
    flex-direction: column;
}
#employeesInfoCon h1 {
    margin-top: 1.25em;
    margin-bottom: 1em;
    text-align: center;
    color: #003366;
    font-size: 3em;
    font-weight: 800;
    width: 100%;
    background-color: #F5F5F5;
    height: 2em;
    align-content: center;
    text-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
}

#employeesInfo{
    margin: 1em 1em 5em;
}
#employeesInfo, tr, th, td{
    border: 0.05em solid black;
    border-collapse: collapse;text-align: center;
}

#searchContainer {
    display: flex;
    margin: 1em 0;
}
#searchName, #searchID {
    width: 15em;
    margin: 0 1em;
}

#employeesInfo {
    overflow: scroll;
}